<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.InspireMe"
        tools:targetApi="31">

        <!-- Splash Screen Activity (Opens first) -->
        <activity
            android:name="com.inspireme.app.ui.theme.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.InspireMe.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name="com.inspireme.app.ui.theme.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.InspireMe.NoActionBar" />

        <!-- Favorites Activity -->
        <activity
            android:name="com.inspireme.app.ui.theme.FavoritesActivity"
            android:exported="false"
            android:parentActivityName="com.inspireme.app.ui.theme.MainActivity"
            android:theme="@style/Theme.InspireMe.NoActionBar" />

        <!-- Categories Activity -->
        <activity
            android:name="com.inspireme.app.ui.theme.CategoriesActivity"
            android:exported="false"
            android:parentActivityName="com.inspireme.app.ui.theme.MainActivity"
            android:theme="@style/Theme.InspireMe.NoActionBar" />

        <!-- Category Quotes Activity -->
        <activity
            android:name="com.inspireme.app.ui.theme.CategoryQuotesActivity"
            android:exported="false"
            android:parentActivityName="com.inspireme.app.ui.theme.CategoriesActivity"
            android:theme="@style/Theme.InspireMe.NoActionBar" />

        <!-- Widget Provider -->
        <receiver
            android:name="com.inspireme.app.ui.theme.QuoteWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.inspireme.app.QUOTE_CLICKED" />
                <action android:name="com.inspireme.app.REFRESH_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quote_widget_info" />
        </receiver>

    </application>

</manifest>